.App {
  margin: 10px;
}

.card{
  margin: 5px;
}

.form{
  text-align: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

button {
  margin: 20px 0;
}

.form-control {
  margin-top: 20px;
}
